@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  font-size: 100%;
}

html,
body {
  width: 450px;
  margin: auto;
  outline: none;
  background: #f8f3e9;
}

.header {
  width: 100%;
  height: 3rem;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
  font-size: 1.5rem;
}

.logo {
  color: red;
  font-weight: 500;
}

.logo span {
  margin-left: 0.5rem;
}

.search {
  color: darkgray;
}

.options {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 2rem;
  background: black;
  color: white;
  font-size: 14px;
}

section .flight {
  display: flex;
  width: 6.2rem;
  height: 100%;
  align-items: center;
  justify-items: center;
  background: red;
  padding-left: 1.5rem;

  gap: 0.5rem;
}

section .option {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  margin-left: 0.8rem;
}

.form {
  background: white;
  padding-top: 1.5rem;
  padding-inline: 1.5rem;
}

.form p {
  font-size: 1.5rem;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form form label {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.form input {
  height: 3rem;
  border: 1px solid #d3d3d3;
  padding-left: 0.5rem;
  font-size: 16px;
}

.form .bnt {
  width: 45%;
  height: 2.5rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  border: transparent;
  background: rgb(138, 138, 138);
  color: #fff;
  font-size: 14px;
}

.bnt:hover {
  cursor: pointer;
}

.countries {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
.countries .title-content h5 {
  font-weight: 400;
}

.countries .title-content h5,
.countries .title-content span {
  margin-top: 1.5rem;
  margin-inline: 1.5rem;
}

.countries .title-content .title {
  font-size: 1.5rem;
}

.countries .countries-image {
  position: relative;
  display: flex;
  flex-direction: column;
}

.countries .countries-image img {
  width: 100%;
  height: 16rem;
  margin-top: 1rem;
  padding-inline: 1.5rem;
}

.countries .countries-image span {
  position: absolute;
  margin-top: 14rem;
  padding-left: 2.5rem;
  color: #fff;
}

.explore-nature .content-title {
  padding-inline: 1.5rem;
  padding-top: 1.5rem;
}

.explore-nature .title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.explore-nature .countries-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-inline: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.explore-nature .countries-card-content {
  padding-inline: 1rem;
}

.explore-nature .countries-card-content h6 {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
  font-weight: 400;
}

.explore-nature .countries-card-content span {
  color: gray;
  font-size: 0.9rem;
}

.explore-nature .countries-card-content p {
  padding-block: 1.5rem;
}

.explore-nature .countries-card span:last-child {
  padding-inline: 2.2rem;
  padding-bottom: 1.5rem;
}

.email-input {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #565656;
  margin-inline: 1.5rem;
  padding-inline: 1.5rem;
  color: #fff;
  padding-bottom: 1rem;
}

.email-input .content-title h6 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.email-input form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.email-input form input {
  height: 2.5rem;
  padding-left: 0.5rem;
  font-size: 14px;
}

.email-input button {
  margin-top: 1rem;
  background-color: rgb(252, 130, 130);
  border: none;
  width: 30%;
  height: 2rem;
}

.email-input button a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.contact {
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
}

.contact h5 {
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

.contact span {
  font-size: 1rem;
}

.contact .contacts-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1rem;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-top: 1rem;
}

.contact form input {
  height: 2.5rem;
  padding-left: 0.5rem;
  border: 1px solid #565656;
}

.contact form button {
  width: 40%;
  height: 2.5rem;
  background: black;
  border: none;
}

.contact form button a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

footer .title {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  color: #565656;
  font-size: 1.2rem;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  color: #565656;
  gap: 0.5rem;
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

footer span {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
  font-weight: 400;
  color: #565656;
}
